$primary-color: rgba(33, 41, 54, 0.7);
$border-color: #394150;
$font-color: #F9FAFB;
$background-color: #040711;
// $output-container: #;

body {
    padding-block-start: 4rem;
    background-color: $background-color;
    background-image: url('https://i.postimg.cc/FsqVrJpw/hero-img.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
main {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    padding-block-start: 3rem;
    padding-block-end: 3rem;
    height: auto;
    width: 95%;
    max-width: 1500px;
    .component-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid $border-color;  
    }
    
    .translate-container:nth-child(2) {
        background-color: rgba(18, 24, 38, 0.938);
    }
    .translate-container {
        display: flex;
        flex-direction: column;
        background-color: $primary-color;
        border-radius: 14px;
        border: 1px solid $border-color;
        padding: 8px;
        height: 400px;
        width: auto;
        color: $font-color;
        button {
            background-color: transparent;
            border-radius: 8px;
            padding: 8px;
            color: $font-color;
            border: 2px solid $border-color;
            img {
                width: 16px;
                height: 16px;
            }
        }
        .translate__button {
            background-color: #263FA9;
            border: 1px solid #7CA9F3;
        }
        form {
            height: 65%;
            padding-block: 10px;
            padding-inline: 8px;
        }
        .translate__input {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            background-color: transparent;
            border: none;
            color: $font-color;
            outline: none;
            resize: none;
        }
        .lang-active {
            background-color: #4D5562;
        }
    }
    .input-length {
        display: inline-block;
        width: 100%;
        text-align: end;
        font-size: 0.8rem;
        padding-block: 8px;
    }
    .translate-input__footer {
        display: flex;
        justify-content: space-between;
        .footer__right {
            display: flex;
            gap: 8px;
        }
    }

    .translate-output__footer {
        display: flex;
        gap: 8px;
    }
}
.language-container {
    display: flex;
    gap: 8px;
    .header-button {
        border: none;
    }
}
output {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    color: $font-color;
    outline: none;
    resize: none;
    padding: 8px;
}



.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; 
    border: 0;
}